@import url('./_is-invalid/popup__input_is-invalid.css');

.popup__input {
  box-sizing: border-box;
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 10px 0 0;
  font-size: 14px;
  line-height: 18px;
}